.position {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  &--placeholder {
    border: none;
  }
  &--yellow {
    background-color: yellow;
  }
  &--blue {
    background-color: blue;
  }
  &--red {
    background-color: red;
  }
  &--green {
    background-color: green;
  }
  &--white {
    background-color: white;
  }
}